<div class="container" *ngIf="model$ | async as model">
  <div rtl>
    <div class="top-row">
      <h1 class="main-heading">{{ 'stms.orders.title' | translate }}</h1>
      <div class="actions">
        <a
          (click)="!model.error && loadOrders()"
          [disabled]="model.error"
          mat-raised-button
          class="actions-main"
          color="primary"
        >
          {{ 'stms.orders.get-orders' | translate }}
        </a>
      </div>
    </div>
    <div class="content">
      <st-spinner [isLoading]="model.loading">
        <st-orders-list
          (addToFavorite)="onAddToFavorite($event)"
          (removeFromFavorite)="onRemoveFromFavorite($event)"
          [dataSource]="model.list"
          [error]="model.error"
        >
        </st-orders-list>
      </st-spinner>
    </div>
  </div>
</div>
