<div class="container" *ngIf="model$ | async as model">
  <div rtl>
    <div class="top-row">
      <h1 class="main-heading">{{ 'stms.favorites.title' | translate }}</h1>
      <mat-form-field appearance="outline">
        <input
        #search
        matInput
        type="text"
        [placeholder]="'stms.favorites.search' | translate"
        [ngModel]="searchChange$ | async"
        (keyup)="searchChange$.next(search.value)"
        autocomplete="off"
      />
      </mat-form-field>
      
    </div>
    <div class="content">
      <mat-tab-group>
        <mat-tab label="{{ 'stms.favorites.patients' | translate }}">
          <st-patients-list
            (removeFromFavorite)="onRemoveFromFavorite($event)"
            [dataSource]="model.patientsList"
          >
          </st-patients-list>
        </mat-tab>
        <mat-tab label="{{ 'stms.favorites.orders' | translate }}">
          <st-orders-list
            (removeFromFavorite)="onRemoveFromFavorite($event)"
            [dataSource]="model.ordersList"
          >
          </st-orders-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
