:host {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  .spinner {
    position: relative;
    min-height: 130px;
    width: 100%;
    display: flex;

    .spinner__inner {
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      display: flex;

      mat-spinner {
        margin: auto;
      }
    }
  }
}
